.chart {
    -fx-background-color: #28323D;
    -fx-border-color: transparent;
}

.chart-title {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.chart-legend {
    -fx-text-fill: white;
}

.axis {
    -fx-tick-label-fill: white;
    -fx-label-padding: 10px;
}

.bar-chart .chart-bar {
    -fx-bar-fill: #1f77b4; /* Blue color for bars */
}

.pie-chart {
    -fx-pie-label-visible: false; /* Hides pie chart labels */
}