.chart-series-line {
    -fx-stroke: blue;
    -fx-stroke-width: 2px;
}

.default-color0.chart-line-symbol {
    -fx-background-color: blue, white;
    -fx-background-radius: 5px;
}


.chart-scatter-symbol {
    -fx-fill: #40a6cf;
    -fx-stroke: #000000;
    -fx-stroke-width: 1px;
}
.chart-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: #2e57a5;
}

.chart-legend-item {
    -fx-text-fill: #1a3e5a;
}